
server {
    charset utf-8;
    listen 80;
    server_name demo.zmrenwu.com;

    location /static {
        alias /code/static;
    }

    location / {
        proxy_set_header Host $host;
        proxy_pass http://unix:/tmp/acmore.socket;
    }
}